		html{
			overflow-x: hidden;
		}
		body,html {
			margin: 0;
            padding: 0;
			position: relative;
		}

		.main {
			position: relative;
		}

		.header {
			position: relative;
			width: 100%;
			background: rgb(255, 255, 255);
		}

		.header .header-img {
			width: 100%;
		}

		.header-btn-front, .header-btn-back {
			position: absolute;
			top: 75%;
			left: 40%;
		}

		.header .header-btn-front:hover {
			opacity: 0%;
		}

		.header-text .header-top-text {
			text-shadow: 1px 1px #000000;
			font-family: Arial, Helvetica, sans-serif;
			font-weight: bold;
			position: absolute;
			width: 100%;
			top: 10%;
			text-align: center;
			color: white;
			font-size: 30px;
		}

		.header-text .header-mid-text {
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			font-weight: bold;
			position: absolute;
			color: white;
			font-size: 50px;
			width: 100%;
			top: 29%;
			text-align: center;

		}

		.header-text .header-mid-btm-text {
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			font-weight: bold;
			position: absolute;
			color: white;
			font-size: 55px;
			width: 100%;
			top: 37%;
			text-align: center;
		}

		.header-text .header-btm-text {
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			position: absolute;
			color: #88FEA7;
			font-size: 35px;
			width: 25%;
			left: 37%;
			top: 54%;
			text-align: center;
		}

		.content {
			
			position: relative;
            height: 100%;
            width:100%;

		}

		.content .keychain-img-1 {
			position: absolute;
			top: 120px;
			left: 60%;
		}

		.content .keychain-img-2 {
			position: absolute;
			left: 45%;
			top: 117px;
		}

		.content .keychain-img-3 {
			position: absolute;
			left: 30%;
			top: 123px;
		}

		.content-text .content-top-text {
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			font-weight: bold;
			position: absolute;
			color: #000000;
			font-size: 23px;
			width: 100%;
			top: 60px;
			text-align: center;
        }
        .content-text .content-mid-text {
           
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			position: absolute;
			color: #000000;
			font-size: 31px;
			width: 100%;
			top: 420px;
			text-align: center;
        }
        .content-text .content-mid-btm-text {
            font-weight: bold;
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			position: absolute;
			color: #000000;
			font-size: 35px;
			width: 100%;
			top: 468px;
			text-align: center;
        }
        
        .body-btn-front,
		.body-btn-back {
			position: absolute;
			top: 540px;
			left: 38%;
		}

		.body-btn-front:hover {
			opacity: 0%;
		}

		.footer {
			position: relative;
			width: 100%;
			background: rgb(255, 255, 255);
        }
        .copyright{
            position: absolute;
            padding: 10px 0px 35px 0px;
            font-size: medium;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: lightgray;
            opacity: 70%;
            width: 100%;
            top:650px;
            text-align: center;
        
		}

										/*SCREEN ADJUSTS*/	

@media screen and (max-width: 1280px) and (orientation: landscape) {
		
			.content {
				
				float: none;
				width: 100%;
			}
			.body-btn-front,.body-btn-back {
				width: 298px;
				height: 51px;
				position: absolute;
				top: 540px;
				left: 35.5%;
			}
			.header-btn-front,
			.header-btn-back {
				width: 245px;
				height: 47px;
				position: absolute;
				left: 37.5%;
				
			}
			.header-text .header-mid-text {
				font-size: 40px;
			}
			.header-text .header-top-text {
				font-size: 24px;
			}
			.header-text .header-mid-btm-text{
				font-size: 44px;
			}
			.header-text .header-btm-text{
				font-size: 28px;
			}
			.content-text .content-top-text {
				font-size: 18px;
			}
			.content-text .content-mid-text {
				font-size: 25px;
			}
			.content-text .content-mid-btm-text {
				font-size: 28px;
			}
			.content .keychain-img-1 {
				left: 59%;
			}
	
			.content .keychain-img-2 {
				left: 44%;
			}
	
			.content .keychain-img-3 {
				left: 29%;
			}
			.copyright{
				font-size: small;
			}
}

		
@media screen and (max-width: 1280px) and (orientation: portrait) {
		
			.content {
				
				float: none;
				width: 100%;
			}
			.body-btn-front,.body-btn-back {
				width: 215px;
				height: 41px;
				position: absolute;
				top: 540px;
				left: 36%;
			}
			.header-btn-front,
			.header-btn-back {
				width: 188px;
				height: 36px;
				position: absolute;
				left: 37%;
				
			}
			.header-text .header-mid-text {
				font-size: 32px;
			}
			.header-text .header-top-text {
				font-size: 19px;
			}
			.header-text .header-mid-btm-text{
				font-size: 36px;
			}
			.header-text .header-btm-text{
				font-size: 21px;
			}
			.content-text .content-top-text {
				font-size: 14px;
			}
			.content-text .content-mid-text {
				font-size: 19px;
			}
			.content-text .content-mid-btm-text {
				font-size: 22px;
			}
			.content .keychain-img-1 {
				left: 56%;
			}
			.content .keychain-img-2 {
				left: 41%;
			}
			.content .keychain-img-3 {
				left: 26%;
			}
			.copyright{
				font-size: small;
			}
}
			
@media screen and (max-width: 700px) and (orientation: portrait) {
	main{
		margin-right: 0px;
		overflow-x: hidden;
	}
	.content {
		
		float: none;
		width: 100%;
	}
	.body-btn-front,.body-btn-back {
		max-width:173px;
		width: 100%;
		height: 33px;
		position: absolute;
		top: 385px;
		left: 26%;
	}
	.header-btn-front,
	.header-btn-back {
		max-width:114px;
		width: 100%;
		height: 22px;
		position: absolute;
		left: 33%;
		
	}
	.header-text .header-mid-text {
		font-size: 17px;
		top:27%;
	}
	.header-text .header-top-text {
		font-size: 11px;
	}
	.header-text .header-mid-btm-text{
		font-size: 19px;
	}
	.header-text .header-btm-text{
		font-size: 10px;
	}
	.content-text .content-top-text {
		font-size: 12px;
		top:40px;
	}
	.content-text .content-mid-text {
		font-size: 13px;
		top:330px;
	}
	.content-text .content-mid-btm-text {
		font-size: 15px;
		top:350px;
	}
	.content .keychain-img-1 {
		top:100px;
		left: 61%;
	}
	.content .keychain-img-2 {
		top:95px;
		left: 33%;
	}
	.content .keychain-img-3 {
		top:103px;
		left: 3%;
	}
	.copyright{
		font-size: x-small;
		top: 420px;
	}
}

@media screen and (max-width: 700px) and (orientation: landscape) {
	main{
		overflow-x:hidden;
	}
	.content {
		
		float: none;
		width: 100%;
	}
	.body-btn-front,.body-btn-back {
		width: 188px;
		height: 36px;
		position: absolute;
		top: 385px;
		left: 36%;
	}
	.header-btn-front,
	.header-btn-back {
		width: 149px;
		height: 26px;
		position: absolute;
		left: 39%;
		
	}
	.header-text .header-mid-text {
		font-size: 23px;
	}
	.header-text .header-top-text {
		font-size: 13px;
	}
	.header-text .header-mid-btm-text{
		font-size: 25px;
	}
	.header-text .header-btm-text{
		font-size: 14px;
		width:20%;
		left:40%;
	}
	.content-text .content-top-text {
		font-size: 12px;
		top:40px;
	}
	.content-text .content-mid-text {
		font-size: 13px;
		top:330px;
	}
	.content-text .content-mid-btm-text {
		font-size: 15px;
		top:350px;
	}
	.content .keychain-img-1 {
		top:100px;
		left: 68%;
	}
	.content .keychain-img-2 {
		top:97px;
		left: 40.5%;
	}
	.content .keychain-img-3 {
		top:103px;
		left: 10%;
	}
	.copyright{
		font-size: x-small;
		top: 420px;
	}
}		